.app {

 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  background-color: #282c34;
}
.userInput{
  display:flex;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
}
.work{
  border-radius: 10px;
  height:35px;
  
  padding-left:2px;
  width:300px;
}
.icons{
  color:rgb(61, 220, 61);
  margin-left:20px;

}
.todowork{
  color:white;
  margin-top:123px;
  margin-bottom:123px;
}
.item{
  display:flex;
  border:2px solid white;
  width:250px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}